<h1>Blogs</h1>
</br>
<%  @blog_posts.each do |blog_post| %>
    <div>
        <h3>  <%= link_to blog_post.title, "blog_posts/#{blog_post.id}" %> </h3>
        <h6>  <%= blog_post.body %> </h6>
    </div>
<% end %> 
</br>
<button> <%= link_to 'New', "/blog_posts/new" %> </button>
